:root{
    --clr-light: #eec170;
    --clr-medium: #f2a65a;   
    --clr-dark: #f58549;
    --clr-darker:#6b2009;
    --clr-darkest:#763a09;
    --clr-warning: #fb7979;
    --clr-background:#f7f9e2;
    --clr-personal:var(--clr-warning);
    --clr-scouts: #3a82ee;


    --eft-shadow: 0 1px 3px rgba(119, 47, 26,0.8);
    --eft-scouts-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --eft-personal-glow: 0px 0px 4px rgba(242, 166, 90 , 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

footer{
    font-weight: 600;
    font-size: 2rem;
}

input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    
    background-color: var(--clr-background);
    color: var(--clr-dark);
    font-family: 'Petit Formal Script', cursive;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5em;
}

h1,h2, h3,h4, footer    {
   
    font-family: 'Petit Formal Script', cursive;
    color: var(--clr-darker);
    background-color: var(--clr-light);
    /* max-width: 90%;
    min-width: 25%; */
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem 0.75rem;
  border-radius: 2.5rem;
  font-size: clamp(1.5rem, 2.5vw, 4rem); 
  width: clamp(min(10vw, 20rem), 300px, max(90vw, 55rem));
    
}

h1{
    font-weight: 400;
    font-size: 2rem;
    opacity: 0.6;
}

h2{
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.6;

}

h3{
    font-weight: 600;
    font-size: 1.5rem;
}

h4{
 
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0;
}


.greeting .title input{
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input
{
    color: var(--clr-darker);
    background-color: var(--clr-light);

}

.buttons{
    display: flex;
    flex-flow: column wrap;
}

.create-todo{
    display: flex;
   
} 

.input-task{
    display: flex;
    flex-flow: row wrap;
}

.create-todo input[type="text"]{

    width: 100%;
    font-size: 1.125rem;
    color: var(--clr-darker);
    border: 2px double var(--clr-medium);
    border-radius: 1.5rem;
    box-shadow: var(--eft-shadow);
    margin: auto;
    margin-bottom: 0.5rem;
    /* padding: 1rem 1.5rem 0.75rem; */
}

.create-todo .options{
    max-width: 90%;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    
}

.create-todo .options label{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--clr-darkest);
    border-radius: 0.5rem;
    box-shadow: var(--eft-shadow);
}

.create-todo .options label .personal{
    border: 5px solid var(--clr-personal);
    color: var(--clr-light);
}







